div.trello-card {
  cursor: pointer;
  padding: 0 10px 10px 10px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
}

div.trello-card:hover {
  background-color: #F4F5F7;
}

.trello-label {
  box-sizing: border-box;
  width: 40px;
  height: 8px;
  border-radius: 4px;
  background-color: royalblue;
}

#add-new-card {
  flex-grow: 1;
}

/* Card Modal Section */
#cardModal .modal-content {
  background-color: #F4F5F7;
}

.modal-body h6 {
  padding: 8px 0 0 12px;
}

.modal-header {
  position: relative;
}

#inListDesc {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 10px;
}

p#cardDesc, #chkli-wrapper {
  padding: 0 12px 8px 12px;
  font-size: 14px;
}

textarea#cardDesc {
  resize: none;
  width: 100%;
  min-height: 60px;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 8px 12px;
  color: #172b4d;
  background-color: #F4F5F7;
  -moz-appearance: none;
  transition: all 120ms ease-out;
}

textarea#cardDesc:focus {
  resize: both;
  background-color: #fff;
  border-color: #0079bf;
}

.chkli > p {
  margin-bottom: 0.4rem;
}