div.trello-card {
  cursor: pointer;
  padding: 0 10px 10px 10px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
}

div.trello-card:hover {
  background-color: #F4F5F7;
}

.trello-label {
  box-sizing: border-box;
  width: 40px;
  height: 8px;
  border-radius: 4px;
  background-color: royalblue;
}

#add-new-card {
  flex-grow: 1;
}