body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  position: relative;
}

input, textarea, select, button, a.btn {
  outline: none;
  box-shadow: none !important;
}

.stretch-x {
  transform: scale(1.1, 1);
}

#wrapper {
  width: 100%;
  overflow: auto;
  display: flex;
  align-items: flex-start;
}

.trello-fadein {
  animation: fadeIn 150ms ease-out forwards;
}

.trello-black {
  color: #172b4d;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.avatar {
  min-height: 32px;
  max-height: 32px;
  min-width: 32px;
  max-width: 32px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  line-height: 32px;
  text-align: center;
  background-color: #dfe1e6;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2px;
  margin-left: 3px;
}
.avatar:hover {
  background-color: #c1c7d0;
}

button.avatar.profile {
  background-image: url(../img/profile.jpg);
  background-size: cover;
}