#wrapper > div.trello-list {
  min-width: 272px;
  width: 272px;
  max-width: 272px;
  box-sizing: border-box;
  background-color: #ebecf0;
  color: #172b4d;
}

div.trello-list h6 {
  flex-grow: 1;
  font-size: 14px;
  margin-bottom: 0;
}

div.trello-list h6.trello-title {
  font-weight: normal;
}

div.trello-list button {
  font-size: 0.9rem;
  color: #6b778c;
  background-color: transparent;
  box-sizing: border-box;
}

div.trello-list button:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

button.add-list {
  min-width: 272px;
  width: 272px;
  max-width: 272px;
  color: #172b4d;
  font-size: 14px;
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.25);
}

button.add-list:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

#list-title-input {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}

#add-list-popup {
  display: none;
  z-index: 10;
  background-color: rgba(200, 255, 255, 0.7);
  position: absolute;
}