nav.first-nav {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
}

nav.first-nav button.btn {
  background-color: rgba(255, 255, 255, 0.25);
}

nav.first-nav button.btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

nav.second-nav button.btn {
  background-color: rgba(255, 255, 255, 0.25);
}

nav.second-nav button.btn:hover {
  background-color: rgba(255, 255, 255, 0.35);
}

nav.second-nav button.board-name {
  font-size: 1rem;
  background-color: transparent;
  letter-spacing: 1px;
}

nav.second-nav span.badge {
  font-size: 80%;
  font-weight: normal;
}

#centerhold {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: transparent;
  z-index: 3;
}

#logo {
  opacity: 0.8;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  height: 6px;
  min-width: 34px;
}
.lds-ellipsis div {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 4px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 4px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 28px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}
